/*The initial state of quiz elements is hidden,
so we can present the user with 1 option at a time*/
fieldset:valid,
fieldset:invalid ~ *,
fieldset:first-child:valid  {
	display: none;
}

/* Add an exception for the initial state to reveal the first question */
fieldset:first-child {
	display: block;
}