/* Resetting sizing of all elements to 0, centering all elements width and changing text color to white*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  color: white;
}

/* Uses space between to split elements across page while fitting screen, also changes background color*/
body {
  padding: 60px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #141a26;
}

/* font size + underline */
h1 {
  font-size: 60px;
  text-decoration: 1px underline;
  text-underline-offset: 16px;
}

/* color */
.title-word-one {
  color: #a6f20d;
}

/* font size */
h3 {
  font-size: 32px;
}

/* font size */
.name {
  font-size: 24px;
  color: #8779da;
}

/* font size */
p {
  font-size: 18px;
}

/* color + font size */
.score {
  font-size: 96;
  color: #a6f20d;
}

/* adds spacing to all elements in container */
.result-container * {
  padding: 15px 0;
}

/* adds overline, limits with to 50% and re-centers footer, changes color of border */
footer {
  border-top: 1px solid;
  margin: 0 auto;
  padding-top: 10px;
  width: 50%;
  color: #8779da;
}

/* color */
footer p {
  color: #a6f20d;
}
